# Python
*.pyc
*.pyo
__pycache__/
*.pyd
*.db
*.sqlite
*.log
*.pot
*.mo
*.swp

# Flask
instance/
.env
.flaskenv
*.sqlite

# Virtualenv
venv/
.env/
*.env

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# IDEs
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# MacOS
.DS_Store

# Logs
*.log

# Coverage reports
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover